body{
    background-image: url(Bilder/hintergrundLinien.png);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top:50px;
}



main {
    background-color: rgb(61, 55, 55);
    margin: auto;
    width: 800px;
}
h1{
  display:block;
  resize: horizontal;
  max-width: 800px;
  overflow: scroll;
}

input[type=text] {
    display: block;
    width: 60%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
  }

 textarea {

    display: block;
    width: 80%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
  }

  input[type=submit] {
    
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: green;
  }


  form {
    
    padding:5px;
    max-width:99%;
    border-radius: 5px;  
  }