body {
    background-image: url(Bilder/hintergrundessen.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    padding: 10px;
    margin: auto;
    display: block;
    max-height: fit-content;
    max-width:40%;
   
}
.navibar {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    width: 20%;
    background-color: rgb(255, 255, 255);
    height: auto;
    overflow: auto;
    border-radius: 10px;
    text-align: center;
}
    
.navibar a {
        display: inline;
        font-weight: bold;
        font-size: larger;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
}

.navibar a:hover {
    background-color: olivedrab;
    color: #eee;
}
img {
  
  width: 150px;
  height: 250px;
}


#bilderantwort {
  display: block;
  margin: auto;
}


input[type=text] {
    display: block;
    width: 60%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
    
  }


  input[type=submit] {
    
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=button]:hover {
    background-color: green;
    cursor: pointer;
  }


  form {
    margin: auto;
    
    padding:5px;
    max-width:99%;
    border-radius: 5px;  
  }