body{
    background-image: url(Bilder/hintergrundLinien.png);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top:50px;
}
header,main,footer{
    background-color: rgb(61, 55, 55);
    margin: auto;
    width: 800px;
    height: auto;
    
    
}
div{  
    background-color: rgb(61, 55, 55);
}

main{
    height: 1000px;
}
div #ImagesEndergebnis{
    display:block;
    float: left;
    max-width:200px;
    height: auto;
    padding-left: 5px;
    background-color: rgb(61, 55, 55);
}
img {
    display:flex;
    float: left;
    max-width:200px;
    height: auto;
    padding-left: 5px;
    background-color: rgb(61, 55, 55);
}
